input {
	outline: none;
}

input.valid {
	border: 1px solid green;
}

input.invalid {
	border: 1px solid red;
}

p.errorMessage {
	color: red;
}

p.successMessage {
	color: green;
}

p.hintMessage {
	color: gray;
}